$ORIGIN .
$TTL 300        ; 5 minutes
example.example        IN SOA  dnstooltest.example.example. hostmaster.example.example. (
                                1          ; serial
                                10800      ; refresh (3 hours)
                                900        ; retry (15 minutes)
                                2419200    ; expire (4 weeks)
                                300        ; minimum (5 minutes)
                                )
                        NS      dnstooltest.example.example.
                        NS      dnstooltest2.example.example.
; RFC5737 documentation networks
$ORIGIN example.example.
dnstooltest             A       192.0.2.5
dnstooltest2		A	192.0.2.6

